
<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1594280469678-b2e9155feeb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);">
    <h2 style="color:white"><%= @ninho.nome %></h2>
      <p style="color:white"><%= @ninho.descricao %></p>
  </div>

  <%= link_to "Voltar", root_path, class: "btn btn-ghost-show" %>


</div>
