
.form {
  width:70vw;
  height: 100vh;
  color:white;
  border-radius:10%;
  display: flex;
  justify-content: center;
  align-items: center;

}
  h1 {
    color: white;
    font-size: 20px;
}

.submit {
  color:whitesmoke;
}
